article {
    margin-left: 7vw;
}

h1 {
    color: #144AA9EE;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin-bottom: 40px;
    font-size: 40px;
    margin-top: 60px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 22px;
}

input[type="button"] {
    margin: 20 auto;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    width: 175px;

    border: none;
    border-radius: 13px;

    font-size: 20px;

    color: white;
    height: 50px;
    background-color: #285BA9CC;
}

select, option {
    margin: auto;
    margin-right: 20px;
    width: 140px;

    border-radius: 13px;

    font-size: 18px;
    height: 40px;
}