article {
    margin-left: 7vw;
}


h1 {
    color: #144AA9EE;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin-bottom: 40px;
    font-size: 40px;
    margin-top: 60px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 22px;
}