@charset "UTF-8";

html, body {
    padding: 0;
    margin: 0;
}

article, form {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: #1D4582;
    margin-top: 20px;
}

table {
    align-self: center;

    border: 1px solid;
    border-collapse:collapse;
}

table:not(#myBooks > table) {
    width: 90%;
}

#myBooks > table {
    width: 100%;
}

#myBooks {
    align-self: center;
    width: 90%;
}


table > tr {

}

a[href] {
    text-decoration: none;
}

.book_title {
    font-size: 20px;
    color : darkslategrey;
    font-weight: bold;
}

input[type="button"] {
    margin: 20 auto;
    margin-top: 40px;
    height: 40px;
    width: 175px;

    border: none;
    border-radius: 13px;

    font-size: 20px;

    color: white;
    height: 50px;
    background-color: #285BA9CC;

    align-self: center;
}

input[type="checkbox"] {
    accent-color: #537cba;
    border-radius: 0;

    transform: scale(1.5);
    padding: 10px;

    width:80%;
}

[value="일괄 반납"] + p {
    align-self: center;
}