@charset "UTF-8";

html, body {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: #1D4582;
    margin-top: 20px;
}

article, form {
    display: flex;
    flex-direction: column;
}

table {
    align-self: center;
    border: #143062;
    border-collapse: collapse;
    border-top: 1px solid #143062;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #143062;
}

th {
    font-size: 19px;
    text-decoration: none;
    color: white;
    background-color:#3064b2;
    text-align: left;
    padding-left: 10px;
}

td.available {
    background-color:#fdffb5;
}

tr:hover:not(tr:first-child) {
    background-color: #edf1fb;
}
tr:hover:not(tr:first-child) > td.available {
    background-color: #fbff8c;
    font-weight: bold;
}

table:not(#myBooks > table) {
    width: 90%;
}

#myBooks > table {
    width: 100%;
}

#myBooks {
    align-self: center;
    width: 90%;
}

a[href] {
    text-decoration: none;
}

.book_title {
    font-size: 19px;
    color: #173157;
    font-weight: bold;
}

input[type="button"] {
    margin: 20 auto;
    margin-top: 40px;
    height: 40px;
    width: 175px;

    border: none;
    border-radius: 13px;

    font-size: 20px;

    color: white;
    height: 50px;
    background-color: #285BA9CC;

    align-self: center;
}

input[type="checkbox"] {
    accent-color: #537cba;
    border-radius: 0;

    transform: scale(1.5);
    padding: 10px;

    width:80%;
}

[value="일괄 반납"] + p {
    align-self: center;
}