header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    align-content: space-between;
    
    height: 140px;
    width: 100%;
    background-color: #55555522;
}

form[class="search"] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

header > div {
    margin-right: 15px;
}

input[type="search"] {
    font-size: 20px;
    height: 40px;
    width: 360px;
}

form[class="search"] {
    font-size: 20px;
    height: 46px;
    width: 46px;
}

#main-title {
    color: #1D4582; 
    margin-right: 15px;
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 20px;
}

a[href="/index.html"] {
    text-decoration: none;
}