@charset "UTF-8";

article {
    overflow: auto;
}

h1 {
    color: #144AA9EE;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    margin-top: 60px;
}

form {
    width: 500px;
    height: 500px;
    margin: 0 auto;

    border-width: 3px;
    border-color: gray;
    border-style: solid;

    display: flex;
    flex-direction: column; 
    align-self: center;
    justify-content: space-evenly;
    align-items: center;
}

form > input {
    margin: 20 auto;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    width: 370px;

    border: none;
    border-radius: 13px;

    font-size: 20px;
}


/* book edit */
form > div > input {
    margin: 20 auto;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    width: 175px;

    border: none;
    border-radius: 13px;

    font-size: 20px;
}

form > hr {
    width: 450px;
    border: 0px;
    border-top: 1px solid grey;
}

form > input[type="text"], form > input[type="password"] {
    padding: 3px;
    padding-left: 15px;
    background-color: #a5bcd655;
}

.actionbutton {
    color: white;
    height: 50px;
    background-color: #285BA9CC;
}

a, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
