@charset "UTF-8";

html, body {
    padding: 0;
    margin: 0;
}

article {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: stretch;
    justify-items: center;
    margin-top: 50px;
}

h2 {
    color: darkslateblue;
    font-size: 33px;
    margin-top: 3px;
}

h3 {
    font-size: 22px;
}

h4 {
    margin-top: 0px;
}

article > div {
    width: 500px;
}

.tags {
    color :darkblue;
}

/* 적용 안될 시 Ctrl+F5 (캐시 비우기 및 새로고침) */